li a {text-decoration: none; color: rgb(255, 255, 255);}
li a:hover {color: rgb(206, 179, 179)}
code { 
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    color: rgb(255, 255, 255);
    background-color: #5a5a5a;
    border: thin solid rgba(214, 214, 214, 0.5);
    border-radius: 5px;
    box-decoration-break: clone;
    box-sizing: border-box;
    font-family: consolas, "Liberation Mono", courier, monospace;
    font-size: 16px;
    overflow-wrap: break-word;
    padding: 10px;
  }

nav {grid-area: nav; font-family: 'Rubik';}
main {
    grid-area: main; font-family: 'Rubik';
    padding: 0 3.5vw !important;
}
#container {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    max-height: 100%;
    display: grid;
    grid-template-areas: "nav main";
    grid-template-columns:  repeat(2fr);
    overflow-y: hidden; 
}

@media (max-width: 900px) {
    main {padding: 0}
    #introduction {margin-top: 0;}
    #navbar header { width: auto; font-size: 1.7rem !important;}
    #navbar {
        height: 25vh;
        overflow-x: visible;
        overflow-y: scroll;
        padding: 5px 10px !important;
    }
    #container {
        grid-template-areas: "nav" "main";
        grid-template-columns:  1fr;
        height: 100vh;
    }
    #footer {padding: 0px;}
}

nav {overflow-y:auto;}
#navbar {
    height: calc(100vh - 20px);
    min-width: 300px;
    color: whitesmoke;
    background-color: rgb(199, 36, 36);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#navbar ul {
    padding: 0;
    overflow-y: auto;
}

#navbar ul li{
    font-size: larger;
    list-style-type: none;
    text-decoration: none !important;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, .5);    
}
#footer {text-align: center; padding-top: 20px;}
#footer a {
    font-size: larger;
    list-style-type: none;
    text-decoration: none;
    border: none;
    color: rgba(233, 136, 136, 0.6);
}
#footer a:hover {color: white;}


main {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
}

header {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI';
}

section {
    margin: 2rem 0;
}

section ul li {
    width: 45%;
}